.header-list{
  color: rgb(254, 253, 251);
  display: flex;
  list-style: none;
  font-weight: bold;
  margin-top: 15px;
}
.header-list > li{
  margin-left: 20px;
  font-size: 1.5rem;  
  font-family: 'Courier New', Courier, monospace;
  
}
.active{
  color: rgb(171, 171, 171) !important;
  text-decoration: underline !important;
}
.header-list a{
  color: white;
  text-decoration: none;
}
.header-list a:hover{
  cursor: pointer;
  color: rgb(171, 171, 171);
  text-decoration: underline;
  /* font-size: 1.6rem; */
}


.heading{
  color: white;
  background-color: #777777;
  text-align: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}
.heading>h1{
  font-size: 6rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
.footer{
  background-color: #56CCF2;
  height: 100px;
  text-align: center;
  color:white
}
